# Document set for training and testing
#
corpus = ./DataSets/train/
vocabulary = ./DataSets/vocabulary.txt

# Gibbs iterations for training
#
train.initItes = 0
train.maxItes = 200
train.lag = 10
write.lag=100

# Gibbs iterations for testing
#
#test.maxItes = 100
#test.burnIn = 0
#test.lag = 0

# Setting for optimising the concentration
# parameters.
#
optItrn = 1
optLag =1
opt.b = false

# Using slice sampler, otherwise comment
# out the following line or set it to false.
#
opt.b.slice = false


# Optimise one contraction parameter for
# the whole corpus, otherwise comment out
# the following line or set it to false.
#
opt.b.corpus = false

# Optimise Dirichlet parameter alpha
#
opt.alpha = false


# Optimise Dirichlet parameter gamma
#
opt.gamma = false


# the size of table of cached stirling number
#
stirling.maxN = 3500
stirling.maxM = 1000

#
# the per-topic word distributions. One can give these distributions
# to fix the topics.
#
# phiFile =